pandas
numpy
requests
pyodbc
SQLAlchemy
azure-identity
azure-ai-formrecognizer
azure-cosmos
azure-search-documents
langchain
langchain-openai
langchain-core
openai
python-dotenv
simplejson
pytest
pytest-mock
langchain_community
langchain-community
pypdf